@width: 100%;
@fontFamily: 'Microsoft YaHei';
@defaultBtnColor: #1789e1;
@defaultBtnActiveColor: #2b71b8;
@lineHeight: 2px;
@lineColor: #efefef;
html, body {
  font-family: @fontFamily;
  font-size: 14px;
}
a {
  &:hover,
  &:focus{
    text-decoration: none;
  }
}
label {
  font-weight: normal;
  color: #000;
}
th {
  font-weight: normal;
  font-size: 18px;
}
td {
  color: #656565;
  font-size: 16px;
}
.center {
  text-align: center;
  th {
    text-align: center;
  }
}
.default-btn {
  display: inline-block;
  padding: 7.5px 24px;
  border-radius: 4px;
  background-color: @defaultBtnColor;
  color: #fff;
  cursor: pointer;
  &:hover {
    background-color: @defaultBtnActiveColor;
  }
}
.default-form {
  font-size: 18px;
  label {
    font-weight: normal;
  }
  input,select {
    height: 40px !important;
    line-height: 40px !important;
    font-size: 18px !important;
    box-shadow: 1px 1px 2px #999 inset
  }
  .form-group {
    margin-right: 20px;
  }
}
.text-right {
  text-align: right;
}
.default-input {
  height: 40px !important;
  line-height: 40px !important;
  font-size: 18px !important;
  box-shadow: 1px 1px 2px #999 inset
}
.zifi-container {
  width: @width;
  min-width: 1000px;
  margin-right: auto;
  margin-left: auto;
  padding-left: 0;
  padding-right: 0;
  background: url("../assets/bg.png") no-repeat;
  background-size: cover;
  overflow: auto;
}
.height-full {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}
.vertical-middle {
  text-align: center;
  font-size: 0;
}
.vertical-middle:after {
  content: '';
  width: 0;
  height: 100%;
  display: inline-block;
  vertical-align: middle;
}

//tree
.tree-folder-children >
.tree-folder-items >
.tree-folder-header-branch{
  display: inline-block;
  width: 40px;
  height: @lineHeight;
  background-color: @lineColor;
  vertical-align: middle;
}
.tree-folder-end-branch{
  display: inline-block;
  width: 40px;
  height: @lineHeight;
  background-color: @lineColor;
  vertical-align: middle;
}
.tree-folder-children
.tree-folder-items {
  &:before {
    content: '';
    position: absolute;
    height: 50%;
    width: @lineHeight;
    bottom: 0;
    background-color: @lineColor;
  }
  &:last-child {
    &:before {
      content: '';
      position: absolute;
      height: 50%;
      width: @lineHeight;
      top: 0;
      background-color: @lineColor;
    }
  }
}
