@width: 100%;
@fontFamily: 'Microsoft YaHei';
@defaultBtnColor: #1789e1;
html, body {
  font-family: @fontFamily;
  font-size: 14px;
}
a {
  &:hover,
  &:focus{
    text-decoration: none;
  }
}
label {
  font-weight: normal;
  color: #000;
}
th {
  font-weight: normal;
  font-size: 18px;
}
td {
  color: #656565;
  font-size: 16px;
}
.center {
  text-align: center;
  th {
    text-align: center;
  }
}
.default-btn-color {
  background-color: @defaultBtnColor;
  color: #fff;
}
.zifi-container {
  width: @width;
  min-width: 1000px;
  margin-right: auto;
  margin-left: auto;
  padding-left: 0;
  padding-right: 0;
  background: url("../assets/bg.png") no-repeat;
  background-size: cover;
  overflow: auto;
}
.height-full {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}
.vertical-middle {
  text-align: center;
  font-size: 0;
}
.vertical-middle:after {
  content: '';
  width: 0;
  height: 100%;
  display: inline-block;
  vertical-align: middle;
}
